{% extends 'base.html' %}

{% block title %}
Видалити завдання
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

        <div class="card shadow-sm mb-5 border-danger border-2">

            <div class="card-header bg-danger py-3">
                <h3 class="mb-0" style="color: #FFFFFF;">Підтвердження видалення</h3>
            </div>

            <div class="card-body p-4 text-center">

                <p class="lead text-danger">Ви впевнені, що хочете видалити завдання "{{ object.title }}"?</p>
                <p class="text-muted small">Цю дію неможливо буде скасувати.</p>

                <form method="post" class="mt-4 d-flex justify-content-center gap-3">
                   {% csrf_token %}
                   <button type="submit" class="btn btn-danger">Так, видалити</button>
                   <a href="{% url 'tasks:tasks-list' %}" class="btn btn-outline-secondary">Ні, повернутись до списку</a>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}